{{define "header"}}
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>List Books</title>    
	    
<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
</head>
<body>
{{end}}